/* background.css */


/* Background CSS */
html {
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Hind Guntur', sans-serif;
}
div.content {
	background-color: #F2F2F2;
	height: 100vh;
	overflow: scroll;
}
div.instructions-clickable {
	display: inline-block;
	margin: 20px 0px 0px 20px;
	border-radius: 16px;
	padding: 6px 6px 6px 6px;
	background-color: #C1E5E0;
}
div.instructions-clickable a {
	cursor: pointer;
	text-decoration: none;
	text-shadow: 1px 1px black;
	font-size: 16px;
	font-weight: bold;
	color: #327A4F;
}
div.instructions.hide {
	display: none;
}
div.instructions {
	display: block;
	position: absolute;
	background-color: #FADBAE;
	border-radius: 16px;
	width: 60%;
	left: 20%;
	z-index: 10;
	box-shadow: 3px 3px 9px black;
}
div.instructions button.delete {
	top: 1px;
	right: 1px;
}
div.instructions h2 {
	text-align: center;
	text-shadow: 1px 1px 1px;
}
div.instructions p {
	margin-left: 15px;
}
div.instructions p.instruction-option {
	margin-left: 50px;
	font-weight: bold;
}

/* Controls */
div.languages {
	text-align: center;
	margin-bottom: 20px;
	min-height: 50px;
}
div.languages > span > img {
	width: 250px;
}
div.languages > span > img:hover {
	cursor: pointer;
}
div.btn-group button {
	height: 36px;
}
ul.open {
	background-color: #D9534F;
	display: block;
}
ul.open li {
	padding-left: 5px;
}
ul.open li:hover {
	cursor: pointer;
}
ul.open li hr {
	margin: 0;
	border-color: black;
}
div.content > div.search {
	text-align: center;
}
div.content > div.search > input {
	width: 20%;
} 


/* Definitions */
div.words {
	margin-right: 0px;
	margin-left: 0px;
}
div.words div.word {
	height: 375px;
	overflow: scroll;
	width: 75%;
	margin: 0 auto;
}
div.words div.word > h2 {
	text-shadow: 0px 0px 1px black;
}
div.words div.word > div > hr.divider {
	border-color: black;
}
button.delete {
	position: absolute;
	outline: none;
	top: 20px;
	right: 15%;
	border: none;
	border-radius: 16px;
	box-shadow: 1px 1px 1px black;
	background-color: #D9534F;
	padding: 1px 4px 1px 4px;
}
button > span {
	vertical-align: middle;
}