div.dictionarypopup {
	display: none;
	position: absolute;
	background-color: #E2E2E2;
	width: 400px;
	height: 400px;
	overflow: scroll;
	color: black;
	padding: 10px 0px 0px 10px;
	border: 2px solid black;
	border-radius: 16px;
	z-index: 999;
	font-weight: normal;
	font-size: 14px;
	opacity: .9;
	left: 30%;
}

div.dictionarypopup > div {
	margin-bottom: 5px;
}

div.dictionarypopup > div div.dictionarypopupinfo {
	text-align: center;
}
span.dictionarypopupterm {
	font-weight: bold;
}
div.dictionarypopup > div div.dictionarypopupmeaning p {
	margin: 0px 0px 0px 0px;
}
div.dictionarypopup > div div.dictionarypopupmeaning p > span.enumerable {
	font-weight: bold;
	font-size: 16px;
}
div.dictionarypopup > div div.dictionarypopupmeaning p > span.example {
	font-style: italic;
}
p span.custom-dictionary {
	cursor: default;
}

div.globalsearchcontainer {
	display: block;
	position: fixed;
	align-items: center;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	min-height: 60px;
	background-color: #434647;
	color: white;
	width: 30%;
	border-radius: 16px;
	z-index: 999;
	opacity: .9;
}
div.globalsearchcontainer > div.searchbar {
	line-height: 60px;
}
div.globalsearchcontainer span.glass img {
	height: 20px;
	margin-left: 15px;
}
div.globalsearchcontainer input {
	color: white;
	width: 50%;
	padding-left: 10px;
	border:	none;
	outline: none;
	margin-right: auto;
	background-color: #434647;
	box-shadow: none;
	text-transform: none;
}
div.globalsearchcontainer.hide {
	display: none;
}
div.globalsearchcontainer > div {
	width: 100%;
}
div.globalsearchcontainer > div.definitions {
	font-size: 14px;
}
div.globalsearchcontainer > div.definitions > p > span.enumerable {
	font-weight: bold;
	font-size: 16px;
}
div.globalsearchcontainer > div.definitions > p {
	margin-left: 10px;
}
div.globalsearchcontainer > div.definitions > div {
	margin-left: 15px;
}
div.globalsearchcontainer > div.definitions > div.definition > p > span {
	font-style: italic;
}
div.globalsearchcontainer > div.searchbar > div {
	width: 160px;
	text-align: right;
	margin-right: 5px;
	display: inline-block;
}
div.globalsearchcontainer div button {
	border: none;
	padding: 3px 0px 3px 0px;
	background: transparent;
	box-shadow: none;
	outline: none;
	width: 40px;
	height: 36px;
	vertical-align: middle;
}
div.globalsearchcontainer div button.active {
	background-color: #337D49;
	border-radius: 6px;
}
div.globalsearchcontainer img.searchlanguage {
	width: 40px;
	display: flex;
}
.dictionary-language-fr {
	color: #0055A4;	
}
.dictionary-language-es {
	color: #AA151B;
}
.dictionary-language-de {
	color: #FFCC00;
}
.dictionary-language-it {
	color: #008966;
}

@media only screen and (max-width: 1280px) {
	div.globalsearchcontainer img.searchlanguage {
		width: 36px;
	}
	div.globalsearchcontainer div button {
		width: 36px;
		height: 36px;
	}
}
@media only screen and (max-width: 992px) {
	div.globalsearchcontainer div {
		width: 96px;
	}
	div.globalsearchcontainer img.searchlanguage {
		width: 24px;
	}
	div.globalsearchcontainer div button {
		width: 24px;
		height: 24px;
	}
}